*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
.login__body{
    background-image: url("../img//login/Login__fondo--2.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    border: #fff;
    box-shadow: 1px 1px 35px #000000a8;
    height: 60%;
    width: 60%;
    display: grid;
    grid-template-columns: .7fr 1fr;
}
.login .login__info{
    background-color: #F9EAB2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login__info p{
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
}
.login .img__logo{
    background-image: url("../img/login/login__logo--2.jpeg");
    background-size: cover;
    border-radius: 50%;
    border-color: none;
    width: 150px;
    height: 150px;
}

.formulario{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}
.formulario h1{
    color: #fde387;
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
}
.formulario form{
    margin-top: 50px;
    width: 100%;
}
.formulario form input:not(#cliquear){
    margin-top: 10px;
    display: block;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 30px;
    padding: 30px;
    width: 100%;
}

.formulario form #cliquear{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.login__boton{
    transition: .5s;
    cursor: pointer;
}
.login__boton:hover{
    background-color: gray;
}
.login__boton--link{
    display: block;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 30px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    transition: .5s;
}
.login__boton--link a{
    padding: 30px;
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.login__boton--link:hover{
    background-color: gray;
}



